<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<body class ="mb-5" style="background-color: #a1c5d8;">
    <div style="background-color: #a1c5d8;" >  
        <div class="text-center">
            <br>
            <h1 class="display-4 pt-5 text-center " style="font-family:Georgia, 'Times New Roman', Times, serif; color:#30436c"> About Us </h1>
            <br>
            <br>
            <h3 style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#45567b"> We are dedicated to improving the overall health of the community and elevating the voices and low-income and disadvantaged groups of color. </h3>
            <br><br>
            <h4 style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#125672">The Bay Area is known for our mass diversity in culture and backgrounds, yet many communities experience discrimination and barriers in their rights to healthcare. We wish to transfrom healthcare so that low income and minoriy groups can have better access to and knowledge about their rights and health to better care for themselves and break down systemic health inequalities.</h5>
            <br><br><br>
            <div class="container text-center p-5 border border-secondary" style="background-color: #f0f4f6;">
                <div class="row">
                <div class="col">
                    <br>
                    <h3 style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#209acc"> Co-Founder: Hami </h3>
                    <h4 style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#544cc2">(she/her)</h4>
                    <br><br>
                    <img src="/static/hami.png" class="img-thumbnail"  alt="...">
                    <br><br><br>
                    <h4 style="font-family: Josefin Sans, sans-serif ; color:#4A9CF7">- I have a cat named Ellie</h4>
                    <h4 style="font-family: Josefin Sans, sans-serif ; color:#4A9CF7">- I love trying new foods</h4>
                    <h4 style="font-family: Josefin Sans, sans-serif ; color:#4A9CF7">- My favorite color is pink</h4>
                    <h4 style="font-family: Josefin Sans, sans-serif ; color:#4A9CF7">- I am currently working on getting my Certified Nursing Assistant license</h4>
                </div>
                <div class="col">
                    <br>
                    <h3 style="font-family:Georgia, 'Times New Roman', Times, serif ;  color:#209acc"> Co-Founder: Jessica </h3>
                    <h4 style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#544cc2">(she/her)</h4>
                    <br><br>
                    ADD IMAGE HERE OR SMALL CAROUSEL <br>
                    OF YOURSELF
                    <br><br><br>
                    <h4 style="font-family: Josefin Sans, sans-serif ; color:#9C8EFB">- I have never broken a bone</h4>
                    <h4 style="font-family: Josefin Sans, sans-serif ; color:#9C8EFB">- I love to binge watch shows</h4>
                    <h4 style="font-family: Josefin Sans, sans-serif ; color:#9C8EFB">- My favorite color is red</h4>
                    <h4 style="font-family: Josefin Sans, sans-serif; color:#9C8EFB">- I am currently a volunteer at the UCSF Benioff Children's Hospital</h4>
                </div>
                <div class="col">
                    <br>
                    <h3 style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#209acc"> Co-Founder: Harrison </h3>
                    <h4 style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#544cc2">(he/him)</h4>
                    <br><br>
                    ADD IMAGE HERE OR SMALL CAROUSEL<br>
                    OF YOURSELF
                    <br><br><br>
                    <div style="font-family: Josefin Sans">
                        <h4 style=" color:#3483A7">- I have a twin</h4>
                        <h4 style=" color:#3483A7">- I love to sleep</h4>
                        <h4 style=" color:#3483A7">- My favorite color is Blue </h4>
                        <h4 style=" color:#3483A7">- I like to crochet</h4>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>    
{% endblock %}