<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}
<head>
    <meta charset="utf-8" />
    <title>Star Rating</title>
    <meta name="viewport"
          content="width=device-width, 
                   initial-scale=1" />
    <link rel="stylesheet"
          href="styles.css" />
    <script src="https://kit.fontawesome.com/703d06b0fe.js" crossorigin="anonymous"></script>

</head>
{% block body %}
        <br><br>
        <h1 style="font-family:Georgia, 'Times New Roman', Times, serif; color:#30436c">Tell us about the Hospital!</h1>
        <br>

        <!--List all errors in a group at the top-->
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p style="font-family:Georgia, 'Times New Roman', Times, serif; color:#4b4691; font-size:x-large" >
                {{ form.type.label }} <br>
                {{ form.type() }}
                <!--List the errors for this field-->
                {% for error in form.type.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p style="font-family:Georgia, 'Times New Roman', Times, serif; color:#4b4691; font-size:x-large" >
                {{ form.image.label }} <br>
                {% if hospital %}
                    {% if hospital.image %}
                    <img class="img-thumbnail" width="100" src="data:image;base64,{{base64encode(hospital.image.read())}}"> <br>
                    {% endif %}
                {% endif %}
                {{ form.image() }}
                <!--List the errors for this field-->
                {% for error in form.image.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p style="font-family:Georgia, 'Times New Roman', Times, serif; color:#4b4691; font-size:x-large" >
                {{ form.name.label }}<br>
                {{ form.name() }}<br>
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <!-- <a class="btn btn-primary" href="https://www.nyu.edu/about/news-publications/news/2023/september/safety-net-hospital.html#:~:text=Safety%2Dnet%20hospitals%20have%20a,complicating%20efforts%20to%20allocate%20funding" target="_blank" role="button">What is a Safety-Net Hospital?</a> -->
            
            <button onclick="myFunction()" class="btn btn-primary " style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: larger;">What is a Safety-Net Hospital?</button>
            <script>
                function myFunction() {
                  alert("A type of medical center with a mission that provides healthcare for individuals regardless of their insurance status or ability to pay, serving all populations");
                }
                </script>
            <br>
            <br>
            <p style="font-family:Georgia, 'Times New Roman', Times, serif; color:#4b4691; font-size:x-large" >
                {{ form.safeNet.label }}<br>
                <!-- <div class="tooltip"> Is it a Safety-Net Hopital?  
                    <span class="tooltiptext">Safety-Net Hospital: A type of medical center with a mission that provides healthcare for individuals regardless of their insurance status or ability to pay, serving all populations </span>
                </div> <br> -->

                {{ form.safeNet() }}
                {% for error in form.safeNet.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p style="font-family:Georgia, 'Times New Roman', Times, serif; color:#4b4691; font-size:x-large" >
                {{ form.street.label }} <br>
                {{ form.street() }}
                <!--List the errors for this field-->
                {% for error in form.street.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p  style="font-family:Georgia, 'Times New Roman', Times, serif; color:#4b4691; font-size:x-large" >
                {{ form.city.label }}<br>
                {{ form.city() }}<br>
                {% for error in form.city.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p style="font-family:Georgia, 'Times New Roman', Times, serif; color:#4b4691; font-size:x-large" >
                {{ form.state.label }}<br>
                {{ form.state() }}<br>
                {% for error in form.state.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p style="font-family:Georgia, 'Times New Roman', Times, serif; color:#4b4691; font-size:x-large" >
                {{ form.zipcode.label }}<br>
                {{ form.zipcode() }}<br>
                {% for error in form.zipcode.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p style="font-family:Georgia, 'Times New Roman', Times, serif; color:#4b4691; font-size:x-large" >
                {{ form.rating.label }}<br>

                <div class="rating-wrapper">
                    <img id="1" src="/static/star.png" width="50">
                    <img id="2" src="/static/star.png" width="50">
                    <img id="3" src="/static/star.png" width="50">
                    <img id="4" src="/static/star.png" width="50">
                    <img id="5" src="/static/star.png" width="50">
                   </div>
                {{ form.rating() }}<br>
                {% for error in form.rating.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <br>
            <p role="button" style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#ffffff; width:500px; height:50px; font-size: x-large;">{{form.submit()}}</p>
        </form>

        <script>

            const stars = document.querySelectorAll('.rating-wrapper img');
            if (document.querySelector('#rating').value)
            {
                for(j=0; j < document.querySelector('#rating').value; j++){
                        stars[j].classList.add('rating-checked');
                }
            }

            document.querySelector('.rating-wrapper').addEventListener('click', updateStarRating, false);
            function updateStarRating(evt){
                for(i=0; i < parseInt(evt.target.id); i++){
                    for(s=0; s < 5; s++){
                        stars[s].classList.remove('rating-checked');
                    }
                    for(j=0; j < parseInt(evt.target.id); j++){
                        stars[j].classList.add('rating-checked');
                    }
                }
                document.querySelector('#rating').value = parseInt(evt.target.id);
            }
        </script>
{% endblock %}
