<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#30436c">Hospital Ratings</h1>
        <br><br>
    </div>
    <div class="col">
        <br>
        <a href="/hospital/new" class="btn btn-primary btn-sm mt-5" role="button"  style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#ffffff; width:200px; height:50px; font-size: x-large;">Provide a Rating</a>
    </div>
</div>

{% if hospitals %}
    {% for hospital in hospitals %}
        <div class="row border-bottom">
            <!-- <a data-toggle="tooltip" data-placement="top" title="Delete Post" href="/hospital/delete/{{hospital.id}}">
                <img width="40" class="bottom-image" src="/static/delete.png">
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Edit Post" href="/hospital/edit/{{hospital.id}}">
                <img width="40" class="bottom-image" src="/static/edit.png">
            </a> -->
            <div class="col-2">
                {% if loop.index == 1 %}
                <br>
                <center><h5 class="display-5" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#125672">Type</h5></center>
                {% endif %}
                <br>
                <a href="/hospital/{{hospital.id}}">
                    <br>
                <center><h6 class="display-6" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#544cc2">{{hospital.type}}</h5></center>
                </a>
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                <br>
                <center><h5 class="display-5" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#125672">Hospital Name</h5></center>
                {% endif %}
                <br><br>
                <center><h6 class="display-6" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#544cc2">{{hospital.name}}</h5></center>
                </div>
            <div class="col">
                {% if loop.index == 1 %}
                <center><h5 class="display-5" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#125672">Safety-Net Hospital?</h5></center>
                {% endif %}
                <br><br>
                <center><h6 class="display-6" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#544cc2">{{hospital.safeNet}}</h5></center>
                </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <br>
                <center><h5 class="display-5" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#125672">Rating</h5></center>
                {% endif %}
                <br>
                <center>
                    <br>
                    {% for i in range(hospital.rating) %}
        
                    <span><img src="/static/star.png" style="width: 35px;"></span>
                {% endfor %}
                </center>
                </div>
        </div>
    {% endfor %}
{% else %}
{% endif %}

{% endblock %}
