
  
    {% extends 'base.html' %}


{% block body %}
<body style="background-color: #a1c5d8;">
    <div style="background-color: #a1c5d8;" >  
    
    <h1 class="display-4 pt-5 text-center " style="font-family:Georgia, 'Times New Roman', Times, serif; color:#30436c"> Join the Hospital Community Hub! </h1><br>
    
    



    <!-- <h3 class=" display-6 text-center"> We would we love to recieve comments and feedback about your personal experiences and hospitality in your local hospitals, and the quailty of patient care you recieved there.</h3> -->

   

<!-- 
    <h1 class="display-4 text-center"> Adolescent sleep tracker </h1> -->
    <p></p>
    <p></p>

    <div class="container text-left display-7 text-center" >
          <h2 style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#45567b"> Our Misson Statement:</h3><br>
          <h4 class="me-5" style="font-family:Georgia, 'Times New Roman', Times, serif">We would we love to recieve comments and feedback about your personal experiences and hospitality in your local hospitals, and the quailty of patient care you recieved there. <h5> </p></p>
            <br>
        </div>
    </div>
    </div>


          
     
<p></p>
    <div id="carouselExample" class="carousel slide text-center ">
        <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="/static/Equity.jpg" class="d-block w-100" alt="..." width="400" height="500">
      </div>
      <div class="carousel-item">
        <img src="/static/HE 1.webp" class="d-block w-100" alt="..."  width="400" height="500" >
      </div>
      <div class="carousel-item">
        <img src="/static/HE2.jpg" class="d-block w-100" alt="..." width="400" height="500">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</body>


    
    


    

    {% endblock %}