<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<br><br>
<h1 class="display-4 text-center" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#30436c">Frequently Asked Questions</h1>
<br>
<p></p>
<div class="row">
    <div class="col-5 mx-5 my-5 border border-5" style="background-color: #f0f4f6;">
        <br>
        <h6 class="display-6 text-center" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#30436c">What are the Different Services Hospitals Offer?</h1><br>
        <h4 style="font-family: Josefin Sans, sans-serif ; color:#4A9CF7">Carousel w/pics of some of diff services provided</h4>
        <br><br>
        <h4 style="font-family: Josefin Sans, sans-serif ; color:#4A9CF7">With each hospital, the services but generally they diiferent kinds they offer are:</h4>
        <br><br>
        <h4 style="font-family: Josefin Sans, sans-serif ; color:#9C8EFB"> Family medicine - laboratory services - maternity - behavioral health - public health - dermatology - cardiology - hospice care - emergency - inpatient care - outpatient care - mental health and rehabilitation - diagnostic - pharmacy - primary care - pediatric (children) care- radiology + so much more!</h4>

    </div>


    <div class="col-5 me-5 mb-5 border border-5" style="background-color: #f0f4f6;">
        <p></p>
        <h1 class="display-6 text-center" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#30436c">Patient Privacy and Confidentiality</h1>
        <br>
        <h4 style="font-family: Josefin Sans, sans-serif ; color:#4A9CF7">Patients can be afraid that their health information and anything that makes them identifiable will be talked about with other healthcare staff or people in general without their consent.</h4>
        <br><br>
        <h4 style="font-family: Josefin Sans, sans-serif ; color:#4A9CF7">However, the HIPAA (Health Insurance Portability and Accountability Act) Law, which is a law all healthcare staff have to follow, makes it a crime to leak any medical records and other personal healthcare information to other people that the patient has not given consent to.</h4>
        <br>
        <h4 style="font-family: Josefin Sans, sans-serif ; color:#4A9CF7">Those who violate this crime can face <h4>
        <h4 style="font-family: Josefin Sans, sans-serif ; color:#f991d8">fine of up to $250,000, as well as imprisonment up to 10 years.</h4>
        <br>
   </div>


            <!-- <div class="container text-center border border-5 " style="background-color: #f0f4f6;">
                <h1 class="display-4 container text-center">Little 'bout Us</h1>
        <p>Our names are Nengi Frank and EurAsia Robinson. We are both seniors in the Computer Science Academy and play lacrosse. We choose to make this website because as student athletes and teenagers who have to wake up early for school we know the effects of going to school on little to none sleep. We both were also able to compare what it was like to have a later start time our freshman year and compare it to our  junior and senior year, where we had an earlier start time. Even though the time difference is around 20 minutes, it still affected the students at Tech heavily which influenced us to make this website. </p>
        <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

        <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div> -->

        
</div>
<div class="row">
    <div class="col-5 mx-5 my-5 border border-5" style="background-color: #f0f4f6;">
        <br>
        <h6 class="display-6 text-center" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#30436c">What is a Safety-Net Hospital? </h1><br>
        <h4 style="font-family: Josefin Sans, sans-serif ; color:#4A9CF7">If you are concerned about your insurance status or ability to pay for healthcare?</h4><br>
        <h4 style="font-family: Josefin Sans, sans-serif ; color:#3483A7">Safety-net hospitals are a type of medical center that provides healthcare for anyone regardless of their status.</h4>
        <br><h4 style="font-family: Josefin Sans, sans-serif ; color:#f991d8">Everyone deserves quality healthcare no matter their background.</h4>
    </div>
    <div class="col-5 mx-5 my-5 border border-5" style="background-color: #f0f4f6;">
        <br>
        <h6 class="display-6 text-center" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#30436c">Title here #2</h1><br>
        <h4 style="font-family: Josefin Sans, sans-serif ; color:#9C8EFB">Information</h4>
    </div>
    


</div>

                


 



{% endblock %}