{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1" style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#30436c">Recent Reviews</h1>
        <br><br>
    </div>
    <div class="col">
        <br>
        <a href="/review/new" class="btn btn-primary btn-sm mt-5" role="button" style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#ffffff; width:200px; height:50px; font-size: x-large;">Post a Review</a>
    </div>
</div>

{% if reviews %}
    {% for review in reviews %}
        <div class="row border-bottom">
            <!-- <a data-toggle="tooltip" data-placement="top" title="Delete Post" href="/review/delete/{{review.id}}">
                <img width="40" class="bottom-image" src="/static/delete.png">
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Edit Post" href="/review/edit/{{review.id}}">
                <img width="40" class="bottom-image" src="/static/edit.png">
            </a> -->
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Date</h3>
                {% endif %}

                <a href="/review/{{review.id}}">
                    {{moment(review.create_date).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">User</h3>
                {% endif %}
                {{review.author.fname}} {{review.author.lname}}
            </div>
            <div class="col-3">
                {% if loop.index == 1 %}
                <h3 class="display-5">Hospital</h3>
                {% endif %}
                {{review.name}}
            </div>
            <div class="col-3">
                {% if loop.index == 1 %}
                <h3 class="display-5">Experience</h3>
                {% endif %}
                {{review.subject}}
            </div>
            <br>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Ratings</h3>
                {% endif %}
                {{review.rating}}
            </div>
        </div>
    {% endfor %}
{% else %}
{% endif %}

{% endblock %}